@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Brandon's Music Store</h1>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Vynal</th>
          <th scope="col">Song Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>Metal</td>
          <td>$9.99</td>
        </tr>
        <tr>
          <td>Jazz</td>
          <td>$9.99</td>
        </tr>
      </tbody>
    </table>
</div>

<h2>About Brandon's Music Store</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Id donec ultrices tincidunt arcu non sodales neque sodales ut. 
    Egestas congue quisque egestas diam in arcu cursus. 
    Dolor morbi non arcu risus quis varius. At auctor urna nunc id cursus metus. 
    Nisi porta lorem mollis aliquam ut porttitor leo. 
    Lectus sit amet est placerat in egestas erat imperdiet sed. Nullam eget felis eget nunc lobortis. 
    Est velit egestas dui id ornare arcu. 
    Pharetra magna ac placerat vestibulum lectus mauris. 
    Et netus et malesuada fames ac turpis egestas maecenas. 
    Vitae elementum curabitur vitae nunc sed velit. 
    Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. 
    Dictum at tempor commodo ullamcorper a lacus vestibulum. 
    Libero enim sed faucibus turpis in eu mi bibendum neque. 
    Nisl suscipit adipiscing bibendum est. Sagittis orci a scelerisque purus semper eget.
</p>