@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Brandon's Music Store</h1>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Vynal</th>
          <th scope="col">Song Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>Metal</td>
          <td>$9.99</td>
        </tr>
        <tr>
          <td>Jazz</td>
          <td>$9.99</td>
        </tr>
      </tbody>
    </table>
</div>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Welcome to Brandon's Music Store!
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">    
        Hello and Welcome to my music store! We sell everything ranging from Grand Pianos to electric guitars.
        We also specialize in selling vynal records for all of your albums and song desires.
      </div>
    </div>
  </div>
<h2>About Brandon's Music Store</h2>
